body {
  padding: 10px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: "Helvetica Neue", Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
  /*font-weight: 400;*/
}
a {
  color: #00B7FF;
}
#main .wrapper {
  position: absolute;
  right: 0;
  left: 0;
  -webkit-transition-duration: 200ms;
  -moz-transition-duration: 200ms;
  -ms-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  transition-duration: 200ms;
}
.proposed-title{
  padding-top: 6px;
}
.btn-delete-proposed{
  margin-top: 25px;
}
.btn-delete-employment{
  margin-top: 95px;
}
/*.proposed-row {
    opacity: 1;
}
.ng-enter {
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  opacity: 0;
}
.ng-leave{
 -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  opacity: 1;
}
.ng-enter-active {
  opacity: 1;
}
.ng-leave-active{
  opacity: 0;
}*/
.ng-enter, 
.ng-leave
{ 
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
} 
.ng-enter.ng-enter-active, 
.ng-leave {
  opacity: 1;
  top: 0;
  height: 30px;
}
.ng-leave.ng-leave-active,
.ng-enter {
  opacity: 0;
  top: -50px;
  height: 0px;
}
.panel-primary>.panel-heading{
  background-color: #005a8f;
}
.panel-heading.btn-add-row{
  padding-top: 5px;
  padding-bottom: 5px;
}
/*.checkbox label:after, 
.radio label:after {
  content: '';
  display: table;
  clear: both;
}
.checkbox .cr,
.radio .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}
.radio .cr {
  border-radius: 50%;
}
.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}
.radio .cr .cr-icon {
  margin-left: 0.04em;
}
.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none;
}
.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}
.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}
.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5;
}*/
/*.radio-indoor{
  margin-left: 20px;
}
.radio-outdoor{
  margin-left: -20px;
}
.radio-label{
  font-size:1em;
  font-weight:bold !important;
}*/