<div class="wrapper {{ctrl.formStyle}}" >
  <form novalidate ng-submit="newRentalApplication()">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">PERSONAL INFORMATION</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">First Name</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.fname" placeholder="First Name" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Middle</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.mname" placeholder="Middle" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Last</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.lname" placeholder="Last" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">S.S.#</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.ssn" placeholder="S.S.#" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Date of Birth</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.dob" placeholder="Date of Birth" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-6">
            <div class="form-group">
              <label class="control-label">Renting with other Tenants if so, who?</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.who" placeholder="Renting with other Tenants if so, who?" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Drivers License #</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.dl" placeholder="Drivers License #" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Phone Cell</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.phonec" placeholder="Phone Cell" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Phone Work</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.phonew" placeholder="Phone Work" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Work Ext</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.ext" placeholder="Work Ext" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Email</label>
              <input class="form-control input-sm" type="email" ng-model="rentalApplicationForm.email" placeholder="Email" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="form-group">
              <label class="control-label">Present Home Address</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.paddress" placeholder="Present Home Address" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">City</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.pcity" placeholder="City" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">State</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.pstate" placeholder="State" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">ZIP</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.pzip" placeholder="ZIP" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-4">
            <div class="form-group">
              <label class="control-label">Length of Time</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.plot" placeholder="Length of Time" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-5">
            <div class="form-group">
              <label class="control-label">Present Landlord</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.plandlord" placeholder="Present Landlord" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Landlord Phone</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.llphone" placeholder="Landlord Phone" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="form-group">
              <label class="control-label">Reason for Leaving</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.rfl" placeholder="Reason for Leaving" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Amount of Rent</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.aor" placeholder="Amount of Rent" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Is your present rent up to date?</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.isPresentUpDate" placeholder="Is your present rent up to date?" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="form-group">
              <label class="control-label">Previous Home Address</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.paddress2" placeholder="Previous Home Address" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">City</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.pcity2" placeholder="City" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">State</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.pstate2" placeholder="State" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">ZIP</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.pzip2" placeholder="ZIP" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-4">
            <div class="form-group">
              <label class="control-label">Length of Time</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.plot2" placeholder="Length of Time" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-5">
            <div class="form-group">
              <label class="control-label">Previous Landlord</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.plandlord2" placeholder="Previous Landlord" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Landlord Phone</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.llphone2" placeholder="Landlord Phone" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="form-group">
              <label class="control-label">Reason for Leaving</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.rfl2" placeholder="Reason for Leaving" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Amount of Rent</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.aor2" placeholder="Amount of Rent" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Was your rent up to date?</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.wyrutd2" placeholder="Was your rent up to date?" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="form-group">
              <label class="control-label">Next Previous Home Address</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.nextPreviousHomeAddress" placeholder="Next Previous Home Address" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">City</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.nextCity" placeholder="City" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">State</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.nextState" placeholder="State" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">ZIP</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.nextZip" placeholder="ZIP" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-4">
            <div class="form-group">
              <label class="control-label">Length of Time</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.nextLengthOfTime" placeholder="Length of Time" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-5">
            <div class="form-group">
              <label class="control-label">Next Previous Landlord</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.nextPreviousLandlord" placeholder="Next Previous Landlord" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Landlord Phone</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.nextLandlordPhone" placeholder="Landlord Phone" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-md-6">
            <div class="form-group">
              <label class="control-label">Reason for Leaving</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.nextReasonForLeaving" placeholder="Reason for Leaving" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Amount of Rent</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.nextAmountOfRent" placeholder="Amount of Rent" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Was your rent up to date?</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.nextWasRentUpDate" placeholder="Was your rent up to date?" required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading btn-add-row">
        <div class="row">
          <div class="col-md-6">
            <h3 class="panel-title proposed-title">PROPOSED OCCUPANT(S)</h3>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="btn btn-success btn-sm" ng-click="addProposedOccupant()"><i class="fa fa-plus fa-fw"></i>Add Row</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row" ng-repeat="occupant in occupants" ng-class-even="'striped'">
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Name</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.proposedOccupant[occupant.number].name" placeholder="Name" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Relationship</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.proposedOccupant[occupant.number].relation" placeholder="Relationship" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Occupation</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.proposedOccupant[occupant.number].occupation" placeholder="Occupation" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">Age</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.proposedOccupant[occupant.number].age" placeholder="Age" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-1">
            <button type="button" class="btn btn-danger btn-sm btn-block btn-delete-proposed" ng-click="deleteProposedOccupant($index)"><i class="fa fa-remove"></i>Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading btn-add-row">
        <div class="row">
          <div class="col-md-6">
            <h3 class="panel-title proposed-title">PROPOSED PET(S)</h3>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="btn btn-success btn-sm" ng-click="addProposedPet()"><i class="fa fa-plus fa-fw"></i>Add Row</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row" ng-repeat="pet in pets" ng-class-even="'striped'">
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Name</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.proposedPet[pet.number].name" placeholder="Name" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3">
            <div class="form-group">
              <label class="control-label">Type/Breed</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.proposedPet[pet.number].type" placeholder="Type/Breed" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 text-center" style="padding-top:12px;">
            <div class="form-group">
              <div class="radio" style="padding-top: 8px;">
                <label style="padding-right: 30px;">
                  <input type="radio" name="doorStatus" value="indoor" ng-model="rentalApplicationForm.proposedPet[pet.number].indoor" required>
                  <b>Indoor</b>
                </label>
                <label>
                  <input type="radio" name="doorStatus" value="outdoor" ng-model="rentalApplicationForm.proposedPet[pet.number].indoor" required>
                  <b>Outdoor</b>
                </label>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">Age</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.proposedPet[pet.number].age" placeholder="Age" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-1">
            <button type="button" class="btn btn-danger btn-sm btn-block btn-delete-proposed" ng-click="deleteProposedPet($index)"><i class="fa fa-remove"></i>Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading btn-add-row">
        <div class="row">
          <div class="col-md-6">
            <h3 class="panel-title proposed-title">VEHICLE(S) INFORMATION</h3>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="btn btn-success btn-sm" ng-click="addVeicleInfo()"><i class="fa fa-plus fa-fw"></i>Add Row</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row" ng-repeat="vehicle in vehicles" ng-class-even="'striped'">
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">Year</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.veicleInfo[vehicle.number].year" placeholder="Year" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">Make</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.veicleInfo[vehicle.number].make" placeholder="Make" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">Model</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.veicleInfo[vehicle.number].model" placeholder="Model" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">Color</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.veicleInfo[vehicle.number].color" placeholder="Color" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-2">
            <div class="form-group">
              <label class="control-label">Plate #</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.veicleInfo[vehicle.number].plate" placeholder="Plate #" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-1">
            <div class="form-group">
              <label class="control-label">State</label>
              <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.veicleInfo[vehicle.number].state" placeholder="State" required>
            </div>
          </div>
          <div class="col-xs-6 col-md-1">
            <button type="button" class="btn btn-danger btn-sm btn-block btn-delete-proposed" ng-click="deleteVeicleInfo($index)"><i class="fa fa-remove"></i>Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading btn-add-row">
        <div class="row">
          <div class="col-md-6">
            <h3 class="panel-title proposed-title">EMPLOYMENT</h3>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="btn btn-success btn-sm" ng-click="addEmployment()"><i class="fa fa-plus fa-fw"></i>Add Row</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row" ng-repeat="employment in employments" ng-class-even="'striped'">
          <div class="col-xs-11 col-md-11">
            <div class="row">
              <div class="col-xs-6 col-md-5">
                <div class="form-group">
                  <label class="control-label">Current Employment</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.employment[employment.number].cemployer" placeholder="Current Employment" required>
                </div>
              </div>
              <div class="col-xs-6 col-md-5">
                <div class="form-group">
                  <label class="control-label">Occupation</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.employment[employment.number].occupation" placeholder="Occupation" required>
                </div>
              </div>
              <div class="col-xs-6 col-md-2">
                <div class="form-group">
                  <label class="control-label">Hours/Week</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.employment[employment.number].hweek" placeholder="Hours/Week" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-5">
                <div class="form-group">
                  <label class="control-label">Supervisor</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.employment[employment.number].supervisor" placeholder="Supervisor" required>
                </div>
              </div>
              <div class="col-xs-6 col-md-3">
                <div class="form-group">
                  <label class="control-label">Phone</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.employment[employment.number].yphone" placeholder="Phone" required>
                </div>
              </div>
              <div class="col-xs-6 col-md-2">
                <div class="form-group">
                  <label class="control-label">EXT:</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.employment[employment.number].ext" placeholder="EXT:" required>
                </div>
              </div>
              <div class="col-xs-6 col-md-2">
                <div class="form-group">
                  <label class="control-label">Years Employed</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.employment[employment.number].yemployed" placeholder="Years Employed" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6">
                <div class="form-group">
                  <label class="control-label">Address</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.employment[employment.number].address" placeholder="Address" required>
                </div>
              </div>
              <div class="col-xs-6 col-md-2">
                <div class="form-group">
                  <label class="control-label">City</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.employment[employment.number].ecity" placeholder="City" required>
                </div>
              </div>
              <div class="col-xs-6 col-md-2">
                <div class="form-group">
                  <label class="control-label">State</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.employment[employment.number].estate" placeholder="State" required>
                </div>
              </div>
              <div class="col-xs-6 col-md-2">
                <div class="form-group">
                  <label class="control-label">ZIP</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.employment[employment.number].ezip" placeholder="ZIP" required>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-1 col-md-1">
            <button type="button" class="btn btn-danger btn-sm btn-block btn-delete-employment" ng-click="deleteEmployment($index)"><i class="fa fa-remove"></i>Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading btn-add-row">
        <div class="row">
          <div class="col-md-6">
            <h3 class="panel-title proposed-title">INCOME</h3>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="btn btn-success btn-sm" ng-click="addIncome()"><i class="fa fa-plus fa-fw"></i>Add Row</button>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row" ng-repeat="income in incomes" ng-class-even="'striped'">
          <div class="col-xs-11 col-md-11">
            <div class="row">
              <div class="col-xs-6 col-md-5">
                <div class="form-group">
                  <label class="control-label">Current Income</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.income[income.number].cincome" placeholder="Current Income" required>
                </div>
              </div>
              <div class="col-xs-6 col-md-5">
                <div class="form-group">
                  <label class="control-label">Source</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.income[income.number].source" placeholder="Source" required>
                </div>
              </div>
              <div class="col-xs-6 col-md-2">
                <div class="form-group">
                  <label class="control-label">Proof of Income</label>
                  <input class="form-control input-sm" type="text" ng-model="rentalApplicationForm.income[income.number].proof" placeholder="Proof of Income" required>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-1 col-md-1">
            <button type="button" class="btn btn-danger btn-sm btn-block btn-delete-proposed" ng-click="deleteIncome($index)"><i class="fa fa-remove"></i>Delete</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-xs-6 col-md-2 col-md-offset-4">
          <button type="submit" class="btn btn-success btn-sm btn-block"><i class="fa fa-check"></i>&nbsp;Submit</button>
        </div>
        <div class="col-xs-6 col-md-2">
          <a class="btn btn-danger btn-sm btn-block"><i class="fa fa-ban"></i>&nbsp;Cancel</a>
        </div>
      </div>
    </div>
    <br><br><br>
  </form>
</div>